/*common*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 80%;
    margin: auto;
}

/* dubug */

.debug .site_header {
    height: 120px;
    background-color: violet;
}

.debug .immagine_principale {
    height: 450px;
    background-color: khaki;
}

.debug .main_content {
    background-color: dodgerblue;
}

.debug .site_title {
    height: 70px;
    background-color: lightblue;
}

.debug aside {
    height: 500px;
    background-color: lightblue;
}

.debug .site_footer {
    height: 50px;
    background-color: blueviolet;
}

/* utility */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

aside {
    float: left;
    margin-bottom: 1rem;
}

.site_header {
    width: 100%;
    margin-bottom: 1rem;
}

.site_title {
    width: 100%;
    margin-bottom: 2rem;
}

.left, .right {
    width: 24%;
}

.center {
    width: 48%;
    margin-left: 2%;
    margin-right: 2%;
}

.site_footer {
    width: 100%;
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

/*contenuti*/

/*header*/

.site_header>img {
    width: 170px;
    border-right: 1px solid #E5E5E5;
    padding-right: 1rem;
}

.barra_navigazione {
    padding-top: 2rem;
    padding-bottom: 0.7rem;
}

.nav_elem {
    list-style-type: none;
}

.nav_elem>li {
    display: inline-block;
    padding-right: 0.4rem;
    color: #8F8F8F;
}

/*main*/

.immagine_principale {
    width: 100%;
    height: 450px;
    margin-bottom: 2rem;
    background-image: url("./img/banner.jpg");
    background-position: center;
    background-color: lightgray;
    background-blend-mode: multiply;
    color: white;
    border-radius: 1%;
    padding-left: 2.5rem;
    padding-top: 24%;
    padding-right: 34rem;
}

.immagine_principale>h2, aside>h3 {
    font-weight: 400;
}

.site_title>h1 {
    font-size: xx-large;
    font-weight: 700;
}

.site_title>div, aside>p {
    color: #8F8F8F;
}

/*aside*/

.aside_img {
    height: 200px;
    width: 100%;
    background-color: lightgray;
    background-blend-mode: multiply;
    border-radius: 3%;
    margin-bottom: 1rem;
}

.left>.aside_img {
    background-image: url("./img/img-1.jpg");
    background-size: cover;
    background-position: center;
}

.center>.aside_img {
    background-image: url("./img/banner-2.jpg");
    background-size: cover;
    background-position: center;
}

.right>.aside_img {
    background-image: url("./img/img-3.jpg");
    background-size: cover;
    background-position: center;
}

aside h3 {
    margin-bottom: 1rem;
}

/*footer*/

.site_footer .cuore {
    color: red;
}